.wrapper {
    /* display: flex; */
    width: 100%;
    /* align-items: stretch; */
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: black;
    color: #fff;
}

#content {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 250px;
    padding: 20px;
}