$header-height: 57px;
$sidebar-width: 220px;
$footer-height: 57px;
$authHeader-height: 57px;

$sidebar-text-color: #fff;
$sidebar-background-color: #2F3E4C;
$sidebar-menu-color: #E9ECEF;
$sidebar-menu-hover-color: #273440;
$sidebar-selected-border-color: #fff;
$sidebar-submenu-color: #CED4DA;
$sidebar-submenu-background-color: #2a3948;
$sidebar-submenu-hover-color: #E9ECEF;
$sidebar-submenu-hover-background-color: #273440;
$sidebar-menu-active-color: #E9ECEF;
$sidebar-menu-active-background-color: #273440;

$theme-color: #30C0AA;

.footer {
    border-top: 1px solid #e1e4e8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background: #fff;
    height: $footer-height;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

/*
    DEMO STYLE
*/

body {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    background: #F0F0F0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar{
    width: $sidebar-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    overflow-y: scroll;
    z-index: 1000;
    background: $sidebar-background-color;
    color: $sidebar-text-color;
    transition: all 0.3s;
    touch-action: none;
    
    &.active {
        margin-left: calc(-1 * #{$sidebar-width});
    }

    a.menu {
        color: $sidebar-menu-color;
        font-size:'1.5rem';
        padding:'.5rem 1rem';

        &:hover {
            background: $sidebar-menu-hover-color;
        }
    }

    a.submenu {
        color: $sidebar-submenu-color;
        background: $sidebar-submenu-background-color;
        &.hover {
            color: $sidebar-submenu-hover-color;
            background: $sidebar-submenu-hover-background-color;
        }
    }

    a.active {
        color: $sidebar-menu-active-color;
        background: $sidebar-menu-active-background-color;
        border-right: 4px solid $sidebar-selected-border-color;
    }
}

/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

#header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidebar-width});
    transition: all 0.3s;
    opacity: 1;
    z-index: 998;
    justify-content: left;
    border-bottom: 1px solid #DEE2E6;

    &.active {
        width: 100%;
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - #{$sidebar-width});
    min-height: calc(100vh - #{$header-height});
    transition: all 0.3s;
    position: absolute;
    top: $header-height;
    right: 0;
    z-index: 997;

    &.active {
        width: 100%;
    }
}

/* ---------------------------------------------------
    INNER CONTENT STYLE
----------------------------------------------------- */

#innerContent {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

/* ---------------------------------------------------
    COMMON
----------------------------------------------------- */

a.homeButton {
    color: #fff !important;
    &.hover {
        color: #fff !important;
        cursor: 'pointer';
    }
}

/* Loading Screen class */
.kBribD {
    opacity: 0.7;
    top:0;
    bottom:0;
    position:fixed !important;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    display: none;
    transition: all 0.3s;
    z-index: 999;

    &.active {
        width: 100%;
    }
}
/* ---------------------------------------------------
    Auth Header
----------------------------------------------------- */
.authHeader {
    justify-content: left;
    border-bottom: 1px solid #DEE2E6;
}

.authContent {
    // height: calc(100vh - #{$authHeader-height}) !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authButton {
    background-color: $theme-color;
    border-color: $theme-color;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: calc(-1 * #{$sidebar-width});

        &.active {
            margin-left: 0;
        }
    }
    #header {
        width: 100%;
        
        &.active {
            width: 100%;
            // right: calc(-1 * #{$sidebar-width});
        }
    }
    #content {
        width: 100%;
        
        &.active {
            width: 100%;
            // right: calc(-1 * #{$sidebar-width});
        }
    }
    #overlay {
        &.active {
            display: block;
        }
    }
}
